/* LOADING SCREEN STYL ======================================= */
.hide
    display: none !important

.fade-out
    -webkit-transition: opacity 1.2s ease-in-out
    -moz-transition: opacity 1.2s ease-in-out
    -ms-transition: opacity 1.2s ease-in-out
    -o-transition: opacity 1.2s ease-in-out
    opacity: 0 !important

.fade-in
    -webkit-transition: opacity 1.2s ease-in-out
    -moz-transition: opacity 1.2s ease-in-out
    -ms-transition: opacity 1.2s ease-in-out
    -o-transition: opacity 1.2s ease-in-out
    opacity: 1 !important


.loading-screen-wrap,
.loading-screen-wrap .loading-logo-wrap,
.loading-screen-wrap .loading-ring-wrap
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    flexbox()
    justify-content: center
    align-items: center

.loading-screen-wrap
    background: color11

.loading-screen-wrap .loading-logo-wrap
    opacity: 1
    z-index: 1

.loading-screen-wrap .loading-ring-wrap
    opacity: 0
    z-index: 2



/* CA Logo */
.loading-screen-wrap .loading-logo
    width: 100%
    max-width: 260px
    position: relative

    img
        width: 100%

/* Loading ring */
.loading-screen-wrap .loading-ring
    flexbox()
    justify-content: center
    align-items: center
    position: relative



/* Loader Ring ================ */
.loading-ring-loader
    position: relative
    margin: 0 auto
    width: 70px
    height: 70px

    &:before
        content: ''
        display: block
        padding-top: 100%
  


.circular
    animation: rotate 2s linear infinite
    height: 100%
    transform-origin: center center
    width: 100%
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto


.path
    stroke-dasharray: 1, 200
    stroke-dashoffset: 0
    animation: dash 1.5s ease-in-out infinite
    stroke-linecap: round
    stroke: color6


@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}


